@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #000;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.static-underline {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
}

.static-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 17%;
    height: 4px;
    background-color: #de1d8d;
}
body::after {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust based on desired effect */
    pointer-events: none;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: 50; /* Ensure it's above content but below fixed elements like the navbar */
}
